*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 
}

nav{
    background-color: white;
    box-shadow: 0px 0px 3px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    font-size: 20px;
    background-color: red;
}

h1{
    padding-top: 16px;
    padding-bottom: 17px;
}

div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px;
    transition: .3s;
}


.card{
    width: 300px;
    height: 450px;
    overflow: auto;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .5s;
    padding: 13px; 
    position: relative; 
    border-radius: 10px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card img{
    width: 300px;
    height: 200px;
}

.card .submit{
    position : absolute;
    bottom: 12px;
}

.card .keranjang{
    position: absolute;
    bottom: 12px;
    left: 200px;
}
.card button{
    height: 30px;
    color: white;
    background-color: #f44336;
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    transition: .3s;
}
.card button:hover{
    margin-bottom: 5px;
    background-color: #ffcdd2;
    cursor: pointer
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}