*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 
}

nav{
    background-color: white;
    box-shadow: 0px 0px 3px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    font-size: 20px;
    background-color: red;
}

h1{
    padding-top: 16px;
    padding-bottom: 17px;
}

div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px;
    transition: .3s;
}


.card{
    width: 300px;
    height: 450px;
    overflow: auto;
    margin: 20px;
    box-shadow: 0px 0px 3px;
    transition: .2s;
    padding: 13px; 
    position: relative; 
}

.card:hover{
    box-shadow: 1px 1px 12px;
}
.card img{
    width: 300px;
    height: 200px;
}

.card .submit{
    position : absolute;
    bottom: 12px;
}

.card .keranjang{
    position: absolute;
    bottom: 12px;
    left: 200px;
}
.card button{
    height: 30px;
    color: white;
    background-color: #f44336;
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    transition: .3s;
}
.card button:hover{
    margin-bottom: 5px;
    background-color: #ffcdd2;
    cursor: pointer
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}